/** RESETEO PROPIEDADES **/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*BACKGROUND*/
body {
    background-image: url(../img/FondoPaginaWeb.jpg);
    background-attachment:fixed;
}

/****** LAYOT ******/
/*** DISPLAY/POSITION/FLOAT ***/

/*** NAV ***/
nav{
    position: fixed;
    z-index: 100;
}

ul {
    list-style: none;
    overflow: hidden;
}

.navegador>li {
    display: inline-block;
}

.navegador li a {
    display: block;
}

#banderaEspaña {
    position: absolute;
}

#banderaReinoUnido {
    position: absolute;
}

#usuario {
    position: absolute;
}

#Lupa {
    position: absolute;
}

#BolsaCompra {
    position: absolute;
}

.navegador li ul {
    display: none;
    position: absolute;
}

.navegador li:hover>ul {
    display: block;
}

.navegador li ul li {
    position: relative;
}

/*** HEADER ***/

header{
    text-align: center;
}

/*** CUERPO PRINCIPAL ***/
/***** ---- PRIMERA SECCION ----*****/
#imagenIzquierda1  {
    display: inline-flex;
}

#imagenIzquierda1 article {
    float: right;
}


/***** ---- SEGUNDA SECCION ----*****/
#imagenDerecha1 {
    display: inline-flex;
}

#imagenDerecha1 article {
    float: left;
}

/***** ---- TERCERA SECCION ----*****/
#imagenIzquierda2 {
    display: inline-flex;
}

#imagenIzquierda2 article {
    float: right;
}

/***** ---- CUARTA SECCION ----*****/
#imagenDerecha2 {
    display: inline-flex;
}

/*** FOOTER ***/

footer {
    /**Para que flote pero no se ponga junto a otra seccion**/
    clear: left;
}

footer section {
    float: left;
}

/*** HEIGHT/WIDTH/PADDING/BORDER/MARGIN ***/

nav{
    width: 100%;
}

.navegador > li{
    padding: 22px;
}

.navegador li ul  {
    margin-top: 14px;
    padding: 8px;
}

.navegador li ul a {
    padding: 6px;
    font-size: 15px;
}

#banderaEspaña {
    width: 37px;
    top: 19px;
    right: 320px;
}

#banderaReinoUnido {
    width: 45px;
    top: 20px;
    right: 240px;
}

#usuario{
    top: 7px;
    right: 160px;
    margin-right: 0.40%;
    margin-top: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#Lupa {
    top: 7px;
    right: 95px;
    margin-right: 0.40%;
    margin-top: 5px;
    width: 32px;
    height: 32px;
}

#BolsaCompra {
    top: 7px;
    right: 25px;
    margin-top: 2px;
    width: 59px;
    height: 39px
}

.checkbtn {
    font-size: 43px;
    float: right;
    line-height: 105px;
    margin-right: 40px;
    display: none;
}

#check {
    display: none;
}


#primertexto {
    padding-top: 160px;
}

#titulo{
    font-size: 60px;
    padding-bottom: 25px;
}

#subtitulo{
    font-size: 18px;
}

header button {
    margin-top: 35px;
    margin-bottom: 100px;
    padding : 10px;
}

button {
    padding: 1.3em 3em;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
    outline: none;
    transition: all 0.3s ease 0s;
}

button:hover {
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}


/*** CUERPO PRINCIPAL ***/
/***** ---- SECCIONES GENERALES ----*****/

.ContenidoPrincipal {
    font-size: 35px;
    font-size: 160%;
    padding: 50px;
    padding-top: -60px;
    text-align: justify;
}

.Leyenda {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 10px;
}


/***** ---- PRIMERA SECCION ----*****/

#imagenIzquierda1{
    margin-top: 60px;
    width: 100%;    
}

#imagenIzquierda1 article {
    width: 50%;  
    margin-top: 6%;
    margin-bottom: 5%;
}

#imagenIzquierda1 img {
    width: 50%;
}

/***** ---- SEGUNDA SECCION ----*****/

#imagenDerecha1 {
    margin-top: 60px;
    width: 100%;
}

#imagenDerecha1 article {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#imagenDerecha1 img {
    width: 50%;
}

/***** ---- TERCERA SECCION ----*****/

#imagenIzquierda2 {
    width: 100%;
    margin-top: 60px;
    
}

#imagenIzquierda2 article {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#imagenIzquierda2  img {
    width: 50%;
}

/***** ---- CUARTA SECCION ----*****/

#imagenDerecha2{
    width: 100%;
    margin-top: 60px;
}

#imagenDerecha2 article{
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#imagenDerecha2  img{
    width: 50%;
}


/*** FOOTER ***/
footer section {
    width: 33.33%;
    padding-left: 1%;
    margin-top: 60px;
}

footer h4 {
    margin-top: 20px;
    font-size: 22px;
}

footer ul {
    margin-top: 35px;
    margin-bottom: 50px;
}

footer ul li {
    padding: 9px;
}

#DondeEstamos {
    margin-bottom: 71px;
}

footer img {
    margin-top: 55px;
    padding: 20px;
    width: 70px;
    margin-bottom: 60px;
}

/***** Copyrigth *****/

#copyright {
    width: 100%;
}

#copyright p {
    font-size: 14px;
    padding-bottom: 15px;
    padding-top: 15px;
}


/*----------------------------------------------*/
/**** ESTILO / COLORES / FONDOS / ETC ****/
/***NAV***/

nav{
    background: #272521;
    text-align: center;
}

nav ul li {
    font-family: Arial, sans-serif;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.navegador li ul {
    background-color: #756e62;
}


.navegador li a{
    transition: 0.5s;
}

.navegador li a:hover{
    transition: 0.5s;
    color: #ddc9b4;
}

.subApartados li a{
    margin-right: 15px;
    margin-left: 5px;
    text-align: left;
    transition: 0.3s;
}

.subApartados li a:hover {
    color: #ddc9b4;
    font-weight: normal;
    transform: translatex(9px);
    transition: 0.3s;    
}

#Lupa {
    cursor: pointer;
}

#BolsaCompra {
  cursor: pointer;
}

.checkbtn {
    color: #fff;
    cursor: pointer;
}


/*** HEADER ***/

header{
    background-color: rgba(39, 37, 33, 0.7);
}

header p {
    color: #fff;
}

header button{
    color: #fff;
    background-color: #908767;
    border-color: #908767;
    cursor: pointer;
}

header button:hover{
    color: #908767;
    transition: 0.5s;
}

button {
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 15px 20px #908767;
    background-color: #fff;
}

/*** CUERPO PRINCIPAL ***/
.Leyenda {
    font-style: italic;
}

/***** ---- PRIMERA SECCION ----*****/

#imagenIzquierda1 article p  {
    background-color: #fff;
    
}

#imagenIzquierda1 {
    background-color: #fff;

}

/***** ---- SEGUNDA SECCION ----*****/

#imagenDerecha1 article p {
    background-color: #fff;
}
#imagenDerecha1 {
    background-color: #fff;
}


/***** ---- TERCERA SECCION ----*****/
#imagenIzquierda2 article p {
    background-color: #fff;
}

#imagenIzquierda2 {
    background-color: #fff;
}



/***** ---- CUARTA SECCION ----*****/
#imagenDerecha2 article p {
    background-color: #fff;
}

#imagenDerecha2 {
    background-color: #fff;
}



/*** FOOTER ***/
footer {
    text-align: center;
}

footer section {
    background-color: #fff;
    border: #000 1px solid;

}

footer ul {
    list-style-type: none;
    text-decoration: none;
}

footer li:hover {
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer h4 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

footer ul li {
    font-family: Arial, Helvetica, sans-serif;
}

#DondeEstamosAjuste{
    color: #fff;
    text-decoration: none;
}


/***** Copyrigth *****/
#copyright{
    text-align: center;
    background: #272521;
    color: #ffff;
    font-family: Arial, sans-serif;
}



#inicioSesion{
    display: none;
}







/**MEDIA QUERY**/

@media (max-width: 1430px) {

    .navegador {
        font-size: 14px;
    }

    #banderaEspaña {
        margin-right: 64%;
    }

    #banderaReinoUnido {
        margin-right: 62%;
    }

    #Lupa{
        margin-right: -3%;
    }

    #BolsaCompra {
        margin-right: 7%;
    }

    #usuario{
        margin-right: 3%;
    }

}

@media (max-width: 1080px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        height: 800px;
        background: #756e62;
        top: 105px;        
        text-align: center;
        transition: all .5s;
        left: -100%;
        width: 100%
    }

    nav ul li {
        display: inline-block;
        margin: 45px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 24px;
    }

    li a:hover,
    li a.active {
        background: none;
        font-weight: bold;
    }

    #check:checked~ul {
        left: 0;
    }

    #banderaEspaña {
        margin-right: -110px;
        width: 70px;
    }

    #banderaReinoUnido {
        margin-right: -140px;
        width: 85px;
    }

    #Lupa {
        display: none;
    }

    #usuario{
        display: none;
    }

    #BolsaCompra {
        display: none;

    }

    .navegador>li {
        display: block;
    }

    .navegador li a {
        display: inline-block;
    }

    header #titulo{
        padding-top: 90px;
    }

    header button{
        display: none;
    }
    
    #subtitulo{
        padding-bottom: 170px;
    }

    footer{
        margin-top: 100px;
    }

    footer section{
        width: 100%;
        margin-top: 0px;
    }

    #imagenIzquierda1 img{
        clear: right;
        position: absolute;
        width: 100%;
    }

    #imagenIzquierda1 article{
        margin-top: -45%;
        width: 100%;
    }

    #imagenIzquierda1 .ContenidoPrincipal{
        margin-top: 100%;
    }



    #imagenDerecha1 img {
        clear: right;
        position: absolute;
        width: 100%;
    }

    #imagenDerecha1 article {
        margin-top: -29%;
        width: 100%;
    }

    #imagenDerecha1 .ContenidoPrincipal {
        margin-top: 100%;
    }



    #imagenIzquierda2  img {
        clear: right;
        position: absolute;
        width: 100%;
    }
    
    #imagenIzquierda2 article {
        margin-top: 5%;
        width: 100%;
    }

    #imagenIzquierda2 .ContenidoPrincipal {
        margin-top: 100%;
    }

    #imagenDerecha2  img {
        clear: right;
        position: absolute;
        width: 100%;
    }
    
    #imagenDerecha2 article {
        margin-top: 2%;
        width: 100%;
        margin-top: -45%;
    }

    #imagenDerecha2 .ContenidoPrincipal {
        margin-top: 100%;
    }

    .ContenidoPrincipal , .Leyenda{
        font-size:larger;
    }

    
#inicioSesion{
    display: block;
}
}

/**---------------------------------------------------------------**/


/**
------ Tareas a hacer -------
- Ordenar css leonardo da vinci , poner listas ordenada en la parte que explico su vida

- Dar margen top al aside de los cuadros de los pintores

- Dar margen top al header de los pintores 

- Buscar mas imagenes para ponerlas en la compra del aside de cada pintor

- Seguir haciendo todos los pintores


**/