/** RESETEO PROPIEDADES **/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*BACKGROUND*/
body {
    background-image: url(../img/FondoPaginaWeb.jpg);
    background-attachment: fixed;
    background-repeat: none;
    background-size: cover;
}

/****** LAYOT ******/
/*** DISPLAY/POSITION/FLOAT ***/

/*** NAV ***/
nav {
    position: fixed;
    z-index: 100;
}

ul {
    list-style: none;
    overflow: hidden;
}

.navegador>li {
    display: inline-block;
}

.navegador li a {
    display: block;
}

#banderaEspaña {
    position: absolute;
}

#banderaReinoUnido {
    position: absolute;
}

#usuario {
    position: absolute;
}

#Lupa {
    position: absolute;
}

#BolsaCompra {
    position: absolute;
}

.navegador li ul {
    display: none;
    position: absolute;
}

.navegador li:hover>ul {
    display: block;
}

.navegador li ul li {
    position: relative;
}

/*** MAIN ***/
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
}

/*** FOOTER ***/

footer {
    /**Para que flote pero no se ponga junto a otra seccion**/
    clear: left;
}

footer section {
    float: left;
}

/*** HEIGHT/WIDTH/PADDING/BORDER/MARGIN ***/

nav {
    width: 100%;
}

.navegador>li {
    padding: 22px;
}

.navegador li ul {
    margin-top: 14px;
    padding: 8px;
}

.navegador li ul a {
    padding: 6px;
    font-size: 15px;
}

#banderaEspaña {
    width: 37px;
    top: 19px;
    right: 320px;
}

#banderaReinoUnido {
    width: 45px;
    top: 20px;
    right: 240px;
}

#usuario {
    top: 7px;
    right: 160px;
    margin-right: 0.40%;
    margin-top: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#Lupa {
    top: 7px;
    right: 95px;
    margin-right: 0.40%;
    margin-top: 5px;
    width: 32px;
    height: 32px;
}

#BolsaCompra {
    top: 7px;
    right: 25px;
    margin-top: 2px;
    width: 59px;
    height: 39px
}

.checkbtn {
    font-size: 43px;
    float: right;
    line-height: 105px;
    margin-right: 40px;
    display: none;
}

#check {
    display: none;
}

/*** MAIN ***/
main {
    padding-top: 200px;
    padding-bottom: 200px;
    backdrop-filter: blur(8px);
}

.form-box {
    max-width: 450px;
    min-width: 250px;
    overflow: hidden;
    border-radius: 16px;
}

.form {
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;

}

.title {
    font-size: 1.6rem;
}

.subtitle {
    font-size: 1rem;
}

.form-container {
    overflow: hidden;
    border-radius: 8px;
    margin: 1rem 0 .5rem;
    width: 100%;
}

.input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    font-size: .9rem;
    padding: 8px 15px;
}

.form-section {
    padding: 20px;
    font-size: .85rem;
    text-align: center;
}

.form-section a {
    font-weight: bold;
    transition: color .3s ease;
}

.form-section a:hover {
    text-decoration: underline;
}

.form button {
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}

.form textarea{
    resize: none;
    margin-bottom: .5em;
    padding: .10em 1rem;
    outline: none;
    border: none;
    border-radius: 0.2em;
    padding-top: 12px;
}

/*** FOOTER ***/
footer section {
    width: 33.33%;
    padding-left: 1%;
}

footer h4 {
    margin-top: 20px;
    font-size: 22px;
}

footer ul {
    margin-top: 35px;
    margin-bottom: 50px;
}

footer ul li {
    padding: 9px;
}

#DondeEstamos {
    margin-bottom: 71px;
}

footer img {
    margin-top: 55px;
    padding: 20px;
    width: 70px;
    margin-bottom: 60px;
}

/***** Copyrigth *****/

#copyright {
    width: 100%;
}

#copyright p {
    font-size: 14px;
    padding-bottom: 15px;
    padding-top: 15px;
}


/*----------------------------------------------*/
/**** ESTILO / COLORES / FONDOS / ETC ****/
/***NAV***/

nav {
    background: #272521;
    text-align: center;
}

nav ul li {
    font-family: Arial, sans-serif;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.navegador li ul {
    background-color: #756e62;
}


.navegador li a {
    transition: 0.5s;
}

.navegador li a:hover {
    transition: 0.5s;
    color: #ddc9b4;
}

.subApartados li a {
    margin-right: 15px;
    margin-left: 5px;
    text-align: left;
    transition: 0.3s;
}

.subApartados li a:hover {
    color: #ddc9b4;
    font-weight: normal;
    transform: translatex(9px);
    transition: 0.3s;
}

#Lupa {
    cursor: pointer;
}

#BolsaCompra {
    cursor: pointer;
}

.checkbtn {
    color: #fff;
    cursor: pointer;
}

/*** MAIN ***/
.form-box {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f1f7fe;
    color: #010101;
}

.title {
    font-weight: bold;
}

.subtitle {
    color: #666;
}

.form-container {
    background-color: #fff;
}

.input {
    border-bottom: 1px solid #eee;
}

.form-section {
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a {
    color: #756e62;
}

.form-section a:hover {
    color: #666;
}

/*Button*/
.form button {
    background-color: #756e62;
    color: #fff;
    transition: background-color .3s ease;
}

.form button:hover {
    background-color: #666;
}


input:focus:invalid {
    background: url(../img/rojo.png) no-repeat 98% center;
    background-size: 15px;
}

input:focus:valid {
    background: url(../img/verde.png) no-repeat 98% center;
    background-size: 15px;
}


/*** FOOTER ***/
footer {
    text-align: center;
}

footer section {
    background-color: #fff;
    border: #000 1px solid;

}

footer ul {
    list-style-type: none;
    text-decoration: none;
}

footer li:hover {
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

footer ul li {
    font-family: Arial, Helvetica, sans-serif;
}

#DondeEstamosAjuste {
    color: #fff;
    text-decoration: none;
}


/***** Copyrigth *****/
#copyright {
    text-align: center;
    background: #272521;
    color: #ffff;
    font-family: Arial, sans-serif;
}

/*** Inicio Sesion ***/
#inicioSesion {
    display: none;
}

.requirements ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.requirements li {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.requirements li.completed {
  color: green;
}

.form-accept{
    margin-top: 5px;
    margin-bottom: 5px;
}

#imagen {
 width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
 }

 #inputImagen {
 font-size: 14px;
 font-weight: 600;
 color: #fff;
 background-color: #272521;
 display: inline-block;
 transition: all .5s;
 cursor: pointer;
 padding: 15px 40px !important;
 text-transform: uppercase;
 width: fit-content;
 text-align: center;
 margin-top: 15px;
 margin-bottom: 15px;
 }

 #inputImagen:hover{
    background-color: #666;
 }

/**MEDIA QUERY**/

@media (max-width: 1430px) {

    .navegador {
        font-size: 14px;
    }

    #banderaEspaña {
        margin-right: 64%;
    }

    #banderaReinoUnido {
        margin-right: 62%;
    }

    #Lupa {
        margin-right: -3%;
    }

    #BolsaCompra {
        margin-right: 7%;
    }

    #usuario {
        margin-right: 3%;
    }

}

@media (max-width: 1080px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        height: 800px;
        background: #756e62;
        top: 105px;
        text-align: center;
        transition: all .5s;
        left: -100%;
        width: 100%
    }

    nav ul li {
        display: inline-block;
        margin: 45px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 24px;
    }

    li a:hover,
    li a.active {
        background: none;
        font-weight: bold;
    }

    #check:checked~ul {
        left: 0;
    }

    #banderaEspaña {
        margin-right: -110px;
        width: 70px;
    }

    #banderaReinoUnido {
        margin-right: -140px;
        width: 85px;
    }

    #Lupa {
        display: none;
    }

    #usuario {
        display: none;
    }

    #BolsaCompra {
        display: none;

    }

    .navegador>li {
        display: block;
    }

    .navegador li a {
        display: inline-block;
    }

    header #titulo {
        padding-top: 90px;
    }

    header button {
        display: none;
    }

    #subtitulo {
        padding-bottom: 170px;
    }

    footer section {
        width: 100%;
        margin-top: 0px;
    }

    main {
        padding-top: 400px;
        padding-bottom: 400px;
    }

    .form-box {
        max-width: 800px;
        min-width: 250px;
    }

    .form {
        padding: 48px 32px 32px;
        gap: 24px;
        text-align: center;
    }

    .title {
        font-size: 3.5rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .input {
        height: 80px;
        font-size: 1.5rem;
        padding: 30px 20px;
    }

    .form-section {
        padding: 35px;
        font-size: 1.4rem;
    }

    .form button {
        font-size: 1.6rem;
        height: 70px;
        padding-top: 25px;
        padding-bottom: 50px;
    }

    input:focus:invalid {
        background-size: 20px;
    }

    input:focus:valid {
        background-size: 20px;
    }
    
    #inicioSesion {
        display: block;
    }
}